.calc-row {
    height: 100vh;
    font-family: 'Share Tech Mono', monospace;
}

.input-window {
    text-align: end;
    font-size: x-large;
    overflow: hidden;
}

.nums {
    background-color: rgb(171, 219, 241);
}

.unary {
    background-color: rgb(247, 195, 100);
}

.binary {
    background-color: rgb(201, 196, 196);
}

#btn_clr {
    background-color: rgba(255, 0, 0, 0.534);
}
#btn_ce {
    background-color: rgba(255, 0, 0, 0.534);
}


.card-body {
    background-color: rgb(236, 210, 61);
    border-radius: 5px;
}

#flowOut {
    font-size: 0.7rem;
    background-color: #ebe9e9;
    min-height: 30px;
    height: fit-content;
    overflow: hidden;
}

.output {
    background-color: #fff;
    border-radius: 5px;
      
}